<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>Messages</h2>
<ul>
  {{#each messages}}
  <li>User: {{this.user}}</li>
  <li>Message: {{this.text}}</li>
  <li>Date: {{this.added}}</li>
  {{/each}}
</ul>
<a href="/new">Add New Messages</a>
